@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    /* font-size: 14px; */
    font-family: 'Roboto', "Helvetica", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(0, 0, 0, 0.87);
    font-weight: 400;
    background-color: #fafafa;
}

main {
    margin-bottom: 2rem;
}

main, h1 {
    padding: 0 2rem;
}

h1 {
    margin-top: 1.6rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

h1, h2, h3 {
    /* color: rgba(0, 0, 0, 0.54); */
}

p, ul, ol {
    line-height: 1.6;
}

.overflow-hidden {
    overflow: hidden;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.btn {
    border-radius: 2px;
    border: 2px solid transparent;
    background-color: transparent;
    color: inherit;
    font-weight: 600;
    text-transform: uppercase;
    font-size: inherit;
    padding: 0.8rem;
}

.btn:hover {
    cursor: pointer;
}

.btn:focus {
    outline: 0;
    /* border-radius: 0;
    border-color: rgba(0, 0, 0, 0.87);
    background-color: transparent;
    color: inherit; */
}