.card {
    background-color: #ffffff;
    border-radius: 3px;
    transition: box-shadow 135ms cubic-bezier(.4,0,.2,1),width 235ms cubic-bezier(.4,0,.2,1);
    box-shadow: 0 1px 1px 0 rgba(60,64,67,.08),0 1px 3px 1px rgba(60,64,67,.16);
    padding: 1rem 1.3rem 1.3rem 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    font-weight: 500;
    margin: 0;
    line-height: 1.3;
    margin-bottom: 0.3rem;
    padding-right: 2rem;
    position: relative;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.card__status {
    background-color: transparent;
    width: 14px;
    height: 14px;
    border-radius: 14px;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.card__status--positive {
    background-color: #008000;
}

.card__status--warning {
    background-color: #e7b416;
}

.card__status--negative {
    background-color: #cc3232;
}

.card__subtitle {
    color: #5f6368;
    margin: 0 0 1.5rem 0;
    padding: 0;
}

.card__divider {
    border-top: 1px solid rgba(0,0,0,.12);
    padding: 0 1rem;
}

.card__details {
    list-style: none;
    padding: 0;
    margin: 0;
}

.card__detail {
    padding: 0 0 0 1rem;
    margin: 0 0 1rem 0;
    position: relative;
}

.card__detail:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 6px;
    top: 0;
    left: 0;
    background-color: rgb(199, 199, 199);
}

.card__detail--negative:before {
    background-color: #cc3232;
}

.card__detail--positive:before {
    background-color: #008000;
}