.refresh-icon {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    font-style: normal;
    color: #5f6368;
    text-align: left;
    text-indent: -9999px;
    direction: ltr;
    width: 17px;
    height: 17px;
    border-width: 2px;
    border-style: solid;
    border-radius: 50%;
    margin: 4px;
    border-left-color: transparent;
}

.refresh-icon:before, .refresh-icon:after {
    content: '';
    pointer-events: none;
}

.refresh-icon:before {
    position: absolute;
    width: 0;
    height: 0;
    left: -7px;
    bottom: 0;
    border-width: 5px;
    border-style: solid;
    border-left-color: transparent;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    border-bottom-color: transparent;
    border-right-color: transparent;
}